{% extends 'layouts/master.html' %}

{% block body %}
  
  <div class="container">
    <nav>
      <!-- Browse Navigation Bar -->
      <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-browse-all-tab" data-toggle="pill" href="#pills-browse-all" role="tab" aria-controls="pills-browse-all" aria-selected="true">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-browse-females-tab" data-toggle="pill" href="#pills-browse-females" role="tab" aria-controls="pills-browse-females" aria-selected="false">Females</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" id="pills-browse-males-tab" data-toggle="pill" href="#pills-browse-males" role="tab" aria-controls="pills-browse-males" aria-selected="false">Males</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-browse-others-tab" data-toggle="pill" href="#pills-browse-others" role="tab" aria-controls="pills-browse-others" aria-selected="false">Others</a>
        </li>
        <ul class="float-right">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" onclick="sort('age')" name="sortByAge" id="sortByAge" class="btn btn-secondary">Age</button>
            <button type="button" onclick="sort('fame')" name="sortByTags" id="sortByFame" class="btn btn-secondary">Fame</button>
            <button type="button" onClick="sortLocation()" name="sortByLocation" id="sortByLocation" class="btn btn-secondary">Location</button>
            <button type="button" onClick="sortTags()" name="sortByTags" id="sortByTags" class="btn btn-secondary">Tags</button>
          </div>
        </ul>
      </ul>
    </nav>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Advanced Search
      </button>
      <div class="dropdown-menu dropdown-lg" aria-labelledby="dropdownMenuButton">
        <section class="search-sec">
            <div class="container">
                <form action="#" method="post" novalidate="novalidate">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <select class="form-control search-slt" id="selectAgeRange">
                                        <option>Select Age Range</option>
                                        <option>1 year</option>
                                        <option>2 years</option>
                                        <option>3 years</option>
                                        <option>4 years</option>
                                        <option>5 years</option>
                                        <option>6-10 years</option>
                                    </select> 
                                </div>
                                 <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <select class="form-control search-slt" id="selectFameRatingGap">
                                        <option>Select Fame Rating Gap</option>
                                        <option>1-20</option>
                                        <option>21-40</option>
                                        <option>41-60</option>
                                        <option>61-80</option>
                                        <option>81-90</option>
                                        <option>100+</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <input type="text" class="form-control search-slt" placeholder="Enter City">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <input type="text" class="form-control search-slt" placeholder="Enter Province">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <input type="text" class="form-control search-slt" placeholder="Enter Country">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <input type="text" class="form-control search-slt" placeholder="Enter Interest">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <button type="button" class="btn btn-primary wrn-btn">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
      </div>
    </div> 
    
      {% for user in users %}
        {% if user.id == USER_ID %}
        <div hidden class="ourProfile profileCard" data-age="{{ user.age }}" data-fame="{{ user.fame_rating }}" data-city="{{ user.city }}" data-province="{{ user.province }}" data-country="{{ user.country }}" data-interests="{{ user.interests }}">
        </div>
        {% endif %}
      {% endfor %}
      
      <div class="tab-content" id="pills-tabContent">
        <!-- All Members Cards -->
        <div class="tab-pane fade in active" id="pills-browse-all" role="tabpanel" aria-labelledby="pills-browse-all">
          <div class="card-deck row-cols-4">
            {% for user in users %}
              {% if user.id != USER_ID %}
                {% include 'layouts/card.html' %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
        
        <!-- All Female Cards -->
        <div class="tab-pane fade" id="pills-browse-females" role="tabpanel" aria-labelledby="pills-browse-females">
          <div class="card-deck row-cols-4">
            {% for user in users %}
              {% if user.id != USER_ID %}
                {% if user.gender_id == 0 %}
                  {% include 'layouts/card.html' %}
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>

        <!-- All Male Cards -->
        <div class="tab-pane fade" id="pills-browse-males" role="tabpanel" aria-labelledby="pills-browse-males">
          <div class="card-deck row-cols-4">
            {% for user in users %}
              {% if user.id != USER_ID %}
                {% if user.gender_id == 1 %}
                  {% include 'layouts/card.html' %}
                {% endif %}  
              {% endif %}
            {% endfor %}
          </div>
        </div>

          <!-- All Others Cards -->
          <div class="tab-pane fade" id="pills-browse-others" role="tabpanel" aria-labelledby="pills-browse-others">
            <div class="card-deck row-cols-4">
              {% for user in users %}
              {% if user.id != USER_ID %}
                {% if user.gender_id == 2 %}
                  {% include 'layouts/card.html' %}
                {% endif %}  
              {% endif %}
            {% endfor %}
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
{% endblock %}