{% extends 'layouts/master.html' %}

{% block body %}
    <div class="container py-4 px-4">

        <div class="row rounded-lg overflow-hidden shadow">
            <!-- Users box-->
            <div class="col-5 px-0">
                <div class="bg-white">
  
                    <div class="bg-gray px-4 py-2 bg-light">
                        <p class="h5 mb-0 py-1">Recent</p>
                    </div>
  
                    <div class="messages-box">
                        <div class="list-group rounded-0">
                            {% if threads is defined %}
                                {% for thread in threads %}
                                    <a class="list-group-item list-group-item-action active text-white rounded-0" href="/messages/thread/{{thread.id}}">
                                        <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                                            <div class="media-body ml-4">
                                                <div class="d-flex align-items-center justify-content-between mb-1">
                                                    <h6 class="mb-0">{% if thread.origin.id == USER_ID %} {{ thread.target.username }} {% else %} {{ thread.origin.username }} {% endif %}</h6><small class="small font-weight-bold">25 Dec</small>
                                                </div>
                                                <p class="font-italic mb-0 text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            {% endif %}
                            <!-- endfor -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Chat Box-->
            <div class="col-7 px-0">
                <div class="px-4 py-5 chat-box bg-white">
                    <!-- for placeholder in placeholders  -->
                    <div id="messages">
                        {% if msgs is defined %}
                            {% for message in msgs %}
                                {% if message.origin.id == USER_ID %}
                                    <div class="media w-50 ml-auto mb-3" id="test">
                                            <div class="media-body">
                                                <div class="bg-primary rounded py-2 px-3 mb-2">
                                                    {{ message.origin.username }}
                                                    <p class="text-small mb-0 text-white">{{ message.message }}</p>
                                                </div>
                                                <p class="small text-muted">12:00 PM | Aug 13</p>
                                            </div>
                                    </div>
                                {% else %}
                                    <div class="media w-50 mb-3"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                                        <div class="media-body ml-3">
                                            <div class="bg-light rounded py-2 px-3 mb-2">
                                                {{ message.origin.username }}
                                                <p class="text-small mb-0 text-muted">{{message.message}}</p>
                                            </div>
                                            <p class="small text-muted">12:00 PM | Aug 13</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <!-- Sender Message-->
                        
                        <!-- endfor -->
    
                        <!-- for placeholder in placeholders -->
                        <!-- Reciever Message-->

                        <!-- end statement -->
                    </div>
  
                    <!-- Typing area -->
                    <form action="/messages" class="bg-light" id="chat" method="POST">
                        <div class="input-group">
                            <input type="text" id="chatmsg" name="chatmsg" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
                            <div class="input-group-append">
                                <button id="button-addon2" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
                            </div>
                        </div>
                    </form>
  
                </div>
            </div>
        </div>
    </div>
{% endblock %}
