{% extends 'layouts/master.html' %}

{% block body %}

{% if validation_errors is defined %}
	{% for validation_results in validation_errors %}
		{% for validation_result in validation_results %}
			<div>{{ validation_result }}</div>
		{% endfor %}
	{% endfor %}
{% endif %}

    <form method="post" id="form" action="/request-password">
        <div class="form-group">
			<label for="email">Email</label>
			<input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter Email">
			<small id="emailHelp" class="form-text text-muted">Please enter your email</small>
		</div>

		<div class="float-right">
			<button type="submit" name="edit-profile" class="btn btn-primary">Send password reset</button>
		</div>
    </form>

{% endblock %}