{% extends 'layouts/master.html' %}

{% block body %}


{% if validation_errors is defined %}
	{% for validation_results in validation_errors %}
		{% for validation_result in validation_results %}
			<div>{{ validation_result }}</div>
		{% endfor %}
	{% endfor %}
{% endif %}

    <form method="post" id="form">
        <div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp" placeholder="Enter Your password">
			<small id="passwordHelp" class="form-text text-muted">Must be at least 6 characters, have an uppercase letter, lowercase letter and number.</small>
		</div>
		<div class="form-group">
			<label for="password_confirm">Confirm Password</label>
			<input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Confirm Your password">
		</div>

		<div class="float-right">
			<button type="submit" name="edit-profile" class="btn btn-primary">Change password</button>
		</div>
    </form>

{% endblock %}