{% extends 'layouts/master.html' %}

{% block body %}

    <form method="post" id="form" action="/reset-password">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter Your email">
            <small id="emailHelp" class="form-text text-muted">This is to keep you informed of updates and notifications.</small>
        </div>
    </form>

{% endblock %}